/* Color palette from https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749 */
:root {
    --body: white;
    --primary-text: black;
    --secondary-text: rgb(82, 82, 82);
    --primary: #6A994E;
    --on-primary: white;
    --primary-on-hover: #386641;
    --secondary: #A7C957;
    --error: #BC4749;
}

body {
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    color: var(--primary-text);
}

h1, h2, h3, p, ol, ul {
    font-family: Arial, Helvetica, sans-serif;
}

.title-and-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--primary);
    color: var(--on-primary);
    flex: 1;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}
button:hover {
    background-color: var(--primary-on-hover);
}

.home-btn {
    background-color: var(--error);
    color: var(--on-primary);
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.home-btn:hover {
    background-color: var(--primary-on-hover);
}

.warning {
    color: var(--error);
}

.download-btns-div {
    display: flex;
    justify-content: right;
    gap: 6px;
    padding: 10px;
}

video {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}